<footer id="status_bar">
  <!-- <span>STATUS:</span> -->
  <!-- <span id="status" data-alt-text="ONLINE" data-alt-class="online" class="offline">OFFLINE</span> -->


  <button title="The grind Watcher connection" data-alt-text="disconnect" id="toggle_feed" data-alt-class="connected" class="disconnected">connect</button>
  <% yield_content :actions %>


  <button  id="purge" class="bad" title="Purge all Keeper archives permanently">purge</button>
  <button  id="clear" title="Clear the view">clear</button>
  <a href="#bottom" title="Go to the bottom"><button class="small">&darr;</button></a>
  <a href="#top" title="Go to the top"><button class="small">&uarr;</button></a>
  <!-- <a href="#bottom">&darr;</button></a> -->
</footer>