<footer id="status_bar">
  <button data-alt-text="Disconnect" id="toggle_feed">Connect</button>
  <span>STATUS:</span>
  <span id="status" data-alt-text="ONLINE" data-alt-class="online" class="offline">OFFLINE</span>

  <div class="part right">
    <button  id="clear" title="Clear the view">&times; clear</button>
    <a href="#bottom" title="Go to the bottom"><button>&darr;</button></a>
    <a href="#top" title="Go to the top"><button>&uarr;</button></a>
    <!-- <a href="#bottom">&darr;</button></a> -->
  </div>
</footer>