<html>
  <head>
    <link rel="stylesheet" href="/css/watcher.css" type="text/css" />
    <script type="text/javascript" src='/js/jquery.1.7.1.min.js'></script>
    <script type="text/javascript" src='/js/grind.js'></script>
    <script type="text/javascript" src='/js/ui.js'></script>
    <script type="text/javascript" src='/js/dynamism.js'></script>
    <script type="text/javascript" src='/js/sorttable.js'></script>
    <script>
      grind = grind();
      ui = grind_ui();
      
      grind.on_connected(function() {
        toggle_alterable($("#status"));
      });
      grind.on_disconnected(function() {
        toggle_alterable($("#status"));
      });

      $(function() {
        $("#clear").click(function() { $("[data-clearable]").empty(); })
      });

    </script>
    <% yield_content :js %>
  </head>
  <body>
    <header>
      <hgroup>
        <!-- <img src="/images/gear.png" alt="grind" id="logo" /> -->
        <h1><a href="/">grind</a></h1>
      </hgroup>
    </header>

    <nav>
      <% yield_content :nav %>
    </nav>


    <section id="content">
      <%= yield %>
      <!-- <del id="bottom"></del> -->
      <img src="/images/big_gear.png" class="big_gear" alt="gear" />
      <span id="bottom">&nbsp;</span>
    </section>
    
    <%= erb :"_statusbar", layout: false %>
  </body>
</html>