<html>
  <head>
    <!-- <link rel="stylesheet" href="/css/watcher.css" type="text/css" /> -->
    <link rel="stylesheet" href="/css/common.css" type="text/css" />
    <link rel="stylesheet" href="/css/skin_<%= skin %>.css" type="text/css" />
    <link rel="stylesheet" href="/css/fonts/ubuntu/stylesheet.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/css/skin_grunge.css" type="text/css" /> -->
    <script type="text/javascript" src='/js/jquery.1.7.1.min.js'></script>
    <script type="text/javascript" src='/js/grind.js'></script>
    <script type="text/javascript" src='/js/ui.js'></script>
    <script type="text/javascript" src='/js/dynamism.js'></script>
    <script type="text/javascript" src='/js/sorttable.js'></script>
    <!--<script type="text/javascript" src='/js/jquery.cluetip.all.min.js'></script>-->
    <!--<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>-->
    <script>
      grind = grind();
      ui = grind_ui();
      
      grind.on_connected(function() {
        toggle_alterable($("#status"));
      });
      grind.on_disconnected(function() {
        toggle_alterable($("#status"));
      });

      $(function() {
        $("#clear").click(function() { $("[data-clearable]").empty(); 
          // $("#total_entries").html( $("#total_entries").html().replace(/(\d+)/, 0) );
        });

        $("#purge").click(function() { grind.dispatch("purge", {}); })
      });

    </script>
    <% yield_content :js %>
  </head>
  <body>
    <header>
      <hgroup>
        <!-- <img src="/images/gear.png" alt="grind" id="logo" /> -->
        <h1><a href="/">grind</a></h1>
      </hgroup>
      <nav>
        <% yield_content :nav %>
        <div id="grind_controls">
          <a class="button" href="/settings">settings</a>
          <a class="button" href="/skins/<%= skin == 'minimal' ? 'grunge' : 'minimal' %>">switch skin</a>          
        </div>
      </nav>
    </header>

    <aside>
      <!-- <div class="part left"> -->
        <% yield_content :status %>
      <!-- </div>       -->
    </aside>


    <section id="content">
      <%= yield %>
      <!-- <del id="bottom"></del> -->
      <img src="/images/big_gear.png" class="big_gear" alt="gear" />
      <span id="bottom">&nbsp;</span>
    </section>
    
    <%= erb :"_statusbar", layout: false %>
  </body>
</html>