<% content_for :js do %>
<script>
  var group = "<%= @group %>";
  var klass = "<%= @klass %>";
  var view = "<%= @view %>";
  var tbody = null;
  var nr_entries = 0;
  var fields = [];
  var debug = false;
  var format_entry = function(msg) {
    html = "<tr>";
    console.log("Message: " + JSON.stringify( msg) )
    // $("table thead th").each(function() {
      for (var i = 0; i < fields.length; ++i) {
      var k = fields[i];
      var v = msg.entry[k];
      html += "<td data-name=\"" + k + "\">" + v + "</td>";
    }
    // })
    // $.each(msg.entry, function(k,v) {
    //   html += "<td data-name=\"" + k + "\">" + v + "</td>";
    // });
    html += "</tr>"
    $("table tbody").append(html);
    ui.add_entry($("table tbody tr:last"));
    var nr_entries = $("#total_entries").html().match(/(\d+)/)[1];
    $("#total_entries").html( $("#total_entries").html().replace(/\d+/, parseInt(nr_entries) + 1));
  }

  var populated = false;
  grind.on_connected(function() {
    grind.subscribe(group, klass, view, function() {
      if (populated) return;
      populated = true; 

      grind.dispatch("query_view", { group: group, klass: klass, view: view }, function(msg) {
        // populate the table headings
        html = "";
        $.each(msg.result, function(_, column) {
          html += "<th data-name='" + column + "'>" + column + " <small>&#9608;</small></th>";
          fields.push(column);
        });
        $("table thead > tr:first").append(html);
        $("table thead th small").click(function(e) {
          console.log("moo")
          var column = $(this).parent().attr("data-name");
          var columns = $("td[data-name=" + column + "]");
          if (columns.length == 0)
            return;
          $(this).parent().toggleClass("shrunk");
          columns.toggleClass("shrunk");
          e.preventDefault();
        });
        $("table thead th").hover(function() { $(this).find("small").show(); }, function() { $(this).find("small").hide(); })
        // sorttable.init();
        sorttable.makeSortable($("table:first").get(0));

        // popoulate the feed filter fields
        var i = 0;
        var feed = msg.result;
        var last_el = null;
        var elements = $("[data-feed=query_view]");
        var delta = feed.length - elements.length;
        if (delta > 0) {
          var last_el = $(elements[elements.length-1]);
          for (var di = 0; di < delta; ++di) {
            var clone = last_el.clone();
            last_el.after(clone);
            elements.push(clone);
          }
        }

        elements.each(function() {
          last_el = $(this);
          // var targets = JSON.parse($(this).attr("data-feed-target") || "");
          var targets = ($(this).attr("data-feed-target") || "").split(',');
          for (var ti = 0; ti < targets.length; ++ti) {
            var target = targets[ti];
            if (target == "text") {
              $(this).html(feed[i]);
            } else {
              $(this).attr(target, feed[i]);
            }
          }
          if (++i > feed.length) return false;
        });

        if (debug)
          $("[data-dyn-target=filters]:not([data-dyn-action])").click();
      });    
      
    });

    grind.on_message(function(msg) {
      if (msg.group != group || msg.klass != klass || msg.view != view) {
        console.log("not a message for us, discarding");
        return;
      }

      // if (++nr_entries > $("#feed_limit").attr("value")) {
      //   tbody.find("tr:first").remove();
      //   --nr_entries;
      // }
      format_entry(msg);
    });

  });

$(function() {


  var process_filter_value = function(value) {
    if (value[0] == '/' && value.length > 1 && value[value.length-1] == '/')
      return { is_regex: true, value: value.substring(1, value.length-1) };
    // \/something/ => not a regex, escape (remove) the leading '/'
    else if (value[0] == '\\' && value[1] == '/')
      return { is_regex: false, value: value.substring(1, value.length) }
    // something => regular text
    else
      return { is_regex: false, value: value }
  }
  tbody = $("table tbody");

  $("#fetch").click(function() {
    $("#clear").click();
    var hide_feed_options = false;
    if ($("#feed_options").is(":hidden")) {
      $("#feed_options").show();
      hide_feed_options = true;
    }


    var type = "GET";
    var data = { limit: $("#feed_limit").attr("value") };
    var filters = $("[data-dyn-entity=filters]:visible");

    if (filters.length > 0) {
      type = "POST";
      data.query = {};
      // extract the filter values and sanitize them if necessary
      filters.each(function() {
        var field = $(this).find("option:selected").attr("value");
        var value = $(this).find("input[type=text]").attr("value");
        var is_negated = $(this).find("input[type=checkbox]").attr("checked") ? true : false;
        var processed = process_filter_value(value);
        if (processed.is_regex)
          data.query["entry." + field] = JSON.stringify({ "$regex": processed.value });
        else {
          var op = (is_negated ? "$nin" : "$in");
          var value = {}; value[op] = [ processed.value ];
          data.query["entry." + field] = JSON.stringify(value);
        }
      });
    }

    $.ajax({
      type: type,
      url: "http://localhost:11146/" + group + "/" + klass + "/" + view,
      data: data,
      success: function(feed) {
        console.log(feed);
        // feed = JSON.parse(feed);
        for (var i = 0; i < feed.length; ++i)
          format_entry(feed[i]);
      }
    });

    if (hide_feed_options)
      $("#feed_options").hide();
  }); // #fetch.click()

  $("#save_filters").click(function() {
    var filters = $("[data-dyn-entity=filters]:visible");

    if (filters.length > 0) {
      type = "POST";
      var query = {};
      // extract the filter values and sanitize them if necessary
      filters.each(function() {
        var field = $(this).find("option:selected").attr("value");
        var value = $(this).find("input[type=text]").attr("value");
        var is_negated = $(this).find("input[type=checkbox]").attr("checked") ? true : false;
        query[field] = process_filter_value(value);
        query[field].is_negated = is_negated;
      });

      grind.dispatch("add_filters", query);
    } else {
      grind.dispatch("clear_filters");
    }
  });

  $("#filter_current").click(function() {
    var filter_els = $("[data-dyn-entity=filters]:visible");
    var filters = {};
    filter_els.each(function() {
      var filter = {};
      var field = $(this).find("option:selected").attr("value");
      var value = $(this).find("input[type=text]").attr("value");
      filter.is_negated = $(this).find("input[type=checkbox]").attr("checked") ? true : false;
      filter.pvalue = process_filter_value(value);
      filter.regex = filter.pvalue.is_regex ? new RegExp(filter.pvalue.value) : null;
      filters[field] = filter;
    })

    $("td[data-name]:visible").each(function() {
      var col = $(this);
      var clean = true;
      var field = $(this).attr("data-name");

      // for (var i = 0; i < filters.length; ++i) {
        var filter = filters[field];
        if (!filter)
          return true;

        var passed = false;
        var my_value = $(this).html();

        if (filter.pvalue.is_regex) {
          if (filter.regex.test(my_value)) {
            passed = true;
          }
        } else { // not a regex
          if (my_value == filter.pvalue.value)
            passed = true;
        }
        if (filter.is_negated)
          passed = !passed;

        clean = clean && passed;

        // if (!clean)
        //   break;
      // } // filter loop

      if (!clean) {
        $(this).parent().hide();
      }

    });

  }); // #filter_current.click()

  $("#filter_reset").click(function() {
    $("tr:hidden td[data-name]").each(function() { $(this).parent().show(); });
  })
  // hide the feed options
  if (!debug)
    $("[data-dyn-action=toggle][data-dyn-target=feed_options]").click();

  $("#clear").click(function() { 
    $("#total_entries").html( $("#total_entries").html().replace(/(\d+)/, 0) );
  });

  var reloading = false;
  $("#reload").click(function() {
    reloading = true;
    grind.on_disconnected(function() {
      if (reloading) {
        grind.connect();
        reloading = false;
      }
    });

    grind.dispatch("reload", {}, function(cmd) {
      grind.disconnect();
    });
    
  });

  $("#filter_help").click(function() { $("#about_filters").toggle(); });
  $("#about_filters").hide();
})

</script>
<% end %>

<% content_for :status do %>
  <span title="The number of highlighted entries (click a column to highlight)" id="highlighted">highlighted: 0</span>
  <span title="Total number of entries" id="total_entries">total entries: 0</span>
<% end %>
<% content_for :actions do %>

  <button title="Reload grind gracefully (to apply new config)" id="reload">reload</button>
  <button title="Retrieve the latest data from the Keeper's archive" id="fetch">fetch</button>
<% end %>

<% content_for :nav do %>
<h2><%= [ "<a href='/#{@group}'>#{@group}</a>", 
          "<a href='/#{@group}/#{@klass}'>#{@klass}</a>", 
          @view ].join(' >> ') %>
</h2>
<% end %>

<h2>Feed options
  <button class="secondary" data-dyn-action="toggle" data-dyn-target="feed_options" data-alt-text="&plus; show">&minus; hide</button>
</h2>
<div id="feed_options">
  <label>Maximum number of entries to retrieve from archives: 
    <input type="number" value="50" step="100" id="feed_limit" min="1" max="2000" />
  </label>
  <h3>Feed filters
    <button data-dyn-target="filters">&plus; add filter</button>
  </h3>
  <p class="usage_tip"><em>Tip: </em> feed filters support <a href="http://pcre.org">PCRE</a> regular expressions.
    You can make use of <a href="http://www.pcreck.com">PCREck</a> to edit and test your regexes.</p>
  <section id="filters">
    <div data-dyn-entity="filters">
      <fieldset>
        <legend>Filter #<span data-dyn-substitute="index">0</span></legend>
        <label>
          Field
          <select name="filters[-1][field]">
            <option value="" data-feed="query_view" data-feed-target="value,text">
              fill me
            </option>
          </select>
        </label>
        <label>
          Value <input style="min-width:420px" type="text" name="filters[-1][value]" value="012345678" placeholder="/[^[D]]/" />
        </label>
        <label>
          Negated? <input type="checkbox" name="filters[-1][negated]" />
        </label>
        <button class="secondary" data-dyn-action="remove">&times;</button>
      </fieldset>
    </div>

  </section>
  <button id="save_filters" data-content="Moo.">save filters</button>
  <button title="Filter the current data" id="filter_current">filter current</button>
  <button title="Reset the filters applied on the current data" id="filter_reset">reset</button>  
  <button class="help" id="filter_help">?</button>
  <ul style="font-size:1em" id="about_filters">
    <li>
      <strong>save filters</strong>: registers the filters with grind so that incoming data (the feed) will
      be filtered accordingly
    </li>
    <li>
      <strong>filter current</strong>: applies the filters on the current feed without saving them
    </li>
    <li>
      <strong>reset</strong>: restores the feed to its earlier (unfiltered) state but does <em>not</em>
      remove the filters from grind
    </li>
  </ul>
  <hr />
</div>

<section>
  <table class="sortable" style="text-align: left">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody data-clearable>
    </tbody>
  </table>
</section>
